<section>
    <h1>Log in into your account</h1>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
      #f="ngForm" (ngSubmit)="onSubmit(f)">
      <mat-form-field>
        <input type="email" matInput placeholder="Email" ngModel name="email" email required #emailInput="ngModel">
        <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">Please enter valid email address</mat-error>
      </mat-form-field>
      <mat-form-field hintLabel="Password must contain at least 6 characters">
        <input type="password" matInput placeholder="Password" ngModel name="password" required minlength="6" #passInput="ngModel">
        <mat-hint align="end">{{ passInput.value?.length }} / 6</mat-hint>
      </mat-form-field>
      <br>
      <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Log in</button>
      <mat-label *ngIf="errorExists">{{errorText}}</mat-label>
    </form>
  </section>
